<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}">

<head>
    <title>VBF Likelihood Type Create</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">


        <div class="col-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add New VBF Likelihood Type</h4>

                    <form class="forms-sample" th:object="${obj}" method="post" th:action="@{/vbf-likelihood-type/create.do}">
                        <div class="form-group row">
                            <label for="impact" class="col-sm-3 col-form-label">Impact</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="impact" th:field="*{impact}" required
                                       placeholder="Enter Impact">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="weight" class="col-sm-3 col-form-label">Weight</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="weight" th:field="*{weight}" required
                                       placeholder="Enter Weight">

                            </div>
                        </div>


                        <button class="btn btn-success mr-2 float-right">Submit</button>
                        <button type="submit" class="btn btn-light mr-2 float-right">Reset</button>

                    </form>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                <tr>
                    <th>Vbf Likelihood Type</th>
                    <th>Weight</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="data : ${list}">
                    <td th:text="${data.getImpact()}">Impact</td>
                    <td th:text="${data.getWeight()}">Weight</td>
                </tr>

                </tbody>
            </table>

            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td class="gutter">
                        <div class="line number1 index0 alt2" style="display: none;">1</div>
                    </td>
                    <td class="code">
                        <div class="container" style="display: none;">
                            <div class="line number1 index0 alt2" style="display: none;">&nbsp;</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>