<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">
        <div class="offset-xl-3 col-xl-4 offset-lg-3 col-lg-6 offset-md-3 col-md-6 col-sm-12 ">
            <h2>Ki Hosse Esob</h2>
            <h3 th:text="${code}">Error Code is ${code} for ${message} </h3>
            <h1> Return to <a th:href="@{/}">Go Home</a></h1>
            <div class="split-pane-divider"></div>
            <div class="split-pane-divider"></div>
        </div>
    </div>
</div>

</body>
</html>