<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card text-center">
                <img src="images/card2.jpg" width="100%" height="90px"/>
            </div>
            <h2>Featured Post</h2>
        </div>
    </div>
    <div class="row">
        <!--Card-1 start-->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" th:each="data : ${list}">
            <div class="card card-effect">
                <img class="card-img-top" src="/images/puzzles.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title" th:text="${data.getTitle()}">Card title</h4>
                    <td th:utext=" ${#strings.substring(data.getDescription(),0,40)}"     >Description</td>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link fa fa-eye"> 254545</a>
                    <a href="#" class="card-link fas fa-comments"> 254</a>
                    <a href="#" class="card-link fas fa-thumbs-up"> 254</a>
                    <a href="#" class="card-link fas fa-external-link-alt"> Details</a>
                </div>

            </div>
        </div>
        <!--Card-1 End-->
    </div>
</div>

</body>
</html>