<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutck.html}">

<head>
    <title>Create Post</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card text-center">
                <img src="/images/card2.jpg" th:src="@{/images/card2.jpg}" width="100%" height="90px"/>
            </div>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-left">
            <h1>Add New Post </h1>
            <h3 th:text="${successMessage}"></h3>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-right">
            <h2><a href="create" th:href="@{list}">View Posts</a> </h2>
        </div>
    </div>
    <div class="row">
        <!--Card-1 start-->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <form class="form" action="#" th:object="${post}" method="POST"
                  th:action="@{/post/create}">
                <div class="form-group">
                    <label class="col-lg-2 col-md-3 col-sm-4" for="title">Category Name:</label>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <input th:type="text" class="form-control" id="title"
                               th:value="${post.getTitle()}" th:name="*{title}"
                               th:field="*{title}" placeholder="Enter Post Title" required>
                        <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                               class="text-danger"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 col-md-3 col-sm-4" for="editor">Description:</label>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <textarea name="description" th:type="text" class="form-control" id="editor"
                                  th:value="${post.getDescription()}" th:name="*{description}"
                                  th:field="*{description}" placeholder="Enter Category Description" th:rows="20" required>

                        </textarea>
                        <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                               class="text-danger"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 col-md-3 col-sm-4">Categories:</label>
                    <div class="col-lg-10 col-md-9 col-sm-8">
                        <div class="custom-control custom-radio custom-control-inline" th:each="cat : ${allCategories}">
                            <input type="radio" class="custom-control-input" th:value="${cat.id}" th:id="${cat.id}" th:name="checkcategories" th:checked="${cat.categoryName == 'Core Java'}">
                            <label class="custom-control-label" th:for="${cat.id}" th:text="${cat.categoryName}"></label>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 col-md-3 col-sm-4">Status:</label>
                    <div class="col-lg-10 col-md-9 col-sm-8">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" th:value="draft" id="draft" name="status" checked>
                            <label class="custom-control-label" for="draft">Draft</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" th:value="publish" id="publish" name="status">
                            <label class="custom-control-label" for="publish">Publish</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 col-md-3 col-sm-4">Tags:</label>
                    <div class="col-lg-10 col-md-9 col-sm-8">
                        <div class="custom-control custom-checkbox custom-control-inline" th:each="tag : ${allTags}">
                            <input type="checkbox" class="custom-control-input" th:value="${tag.id}" th:id="${tag.id}" name="checktags" th:name="checktags">
                            <label class="custom-control-label" th:text="${tag.tagName}" th:for="${tag.id}" ></label>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="offset-lg-2 offset-md-3 offset-sm-4 col-lg-10 col-md-9 col-sm-8">
                        <button type="submit" class="btn btn-lg btn-outline-dark btn-block">Create</button>
                    </div>
                </div>

            </form>

        </div>
        <!--Card-1 End-->

    </div>

</div>

</body>
</html>