<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutck.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">
        <!--<div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 login">-->
            <!--<h2 class="margin-top-bottom">Login Here</h2>-->
            <!--<form th:action="@{/login}" method="post">-->

                <!--<div class="input-group mb-3">-->
                    <!--<div class="input-group-prepend">-->
                        <!--<span class="input-group-text fab fa-twitter"> Username</span>-->
                    <!--</div>-->
                    <!--<input type="text" required="required" name="username" class="form-control" placeholder="Enter Username">-->

                <!--</div>-->

                <!--<div class="input-group mb-3">-->
                    <!--<div class="input-group-prepend">-->
                        <!--<span class="input-group-text fab fa-twitter"> Password</span>-->
                    <!--</div>-->
                    <!--<input type="text" required="required" name="password" class="form-control" placeholder="Enter Password">-->

                <!--</div>-->





                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;<p>Username <i class="fab fa-twitter"></i></p>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;<input class="form-control" type="text" name="username" required="required"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;<p>Password <i class="fab fa-twitter"></i></p>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;<input class="form-control" type="text" name="password" required="required"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="row">-->
                    <!--<div class="offset-xl-4 col-xl-8 offset-lg-4 col-lg-8 offset-md-4 col-md-8 col-sm-12">-->
                        <!--<input class="btn btn-outline-info btn-lg" type="submit" value="Login"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
            <!--<hr/>-->
            <!--<div class="row">-->

                <!--<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group">-->
                    <!--<a class="card-link" href="/forget-password" th:href="@{/forget-password}">Forget Password? <i class="fab fa-twitter"></i></a>-->
                <!--</div>-->

            <!--</div>-->

        <!--</div>-->

        <div class="offset-xl-2 offset-lg-2 offset-md-2 col-xl-8 col-lg-8 col-md-8 col-sm-12 signup">
             <form class="form-horizontal" role="form" method="POST" th:action="@{/signup}" th:object="${user}">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h2>Register New User</h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="name">Name</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                <input type="text" name="name" class="form-control" id="name"
                                       placeholder="John Doe" required autofocus>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="email">E-Mail Address</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                <input type="email" name="email" class="form-control" id="email"
                                       placeholder="you@example.com" required autofocus>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put e-mail validation error messages here -->
                        </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                <input type="password" name="password" class="form-control" id="password"
                                       placeholder="Password" required>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-3">-->
                        <!--<div class="form-control-feedback">-->
                        <!--<span class="text-danger align-middle">-->
                            <!--<i class="fa fa-close"> Example Error Message</i>-->
                        <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="password">Confirm Password</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem">
                                    <i class="fa fa-repeat"></i>
                                </div>
                                <input type="password" name="password-confirmation" class="form-control"
                                       id="password-confirm" placeholder="Password" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

</body>
</html>